.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 4s ease-in-out;
    height: 64px;
}

.App-header {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    background-color: white;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
}

.App-intro {
    font-size: large;
}

.App-Timer {
    text-align: center;
}

.App-Card {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 8px;
    margin: 8px;
}

p {
    margin: 8px;
}

@keyframes App-logo-spin {
    0% {
        transform: scale(0.99, .99);
    }
    50% {
        transform: scale(1.01, 1.01);
    }
    100% {
        transform: scale(0.99, .99);
    }
}

.login {
    background: cornflowerblue;
    color: white;
    padding: 4px 12px;
    float: right;
}

.sign_out {
    padding: 4px 12px;
    float: right;
    margin: 8px;
}

.loading {
    color: grey;
}