.App {
    text-align: center;
}

.App-Brand {
    display: table-cell;
    vertical-align: middle;

    margin: auto;
    padding: 8px;
}

.App-logo {
    animation: App-logo-spin infinite 4s ease-in-out;
    height: 64px;
}

.App-header {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 0px 0px;
    background-color: white;
    color: white;
    display: block;
    width: 100%;
}

.AppHeaderContainer {
    display: table;
    width: 100%;
}

.App-intro {
    font-size: large;
}

.App-Timer {
    text-align: center;
}

.App-Card {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 8px;
    margin: 8px;
}

.App-Elevated {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

p {
    margin: 8px;
}

@keyframes App-logo-spin {
    0% {
        transform: scale(0.99, .99);
    }
    50% {
        transform: scale(1.01, 1.01);
    }
    100% {
        transform: scale(0.99, .99);
    }
}

.login {
    background: cornflowerblue;
    color: white;
    padding: 4px 12px;
    float: right;
}

.sign_out {
    padding: 4px 12px;
    float: right;
    margin: 8px;
}

.loading {
    color: grey;
}
.button
{
    background-color: black;
    color: blue;
}
input[type=button]{
    background-color: black;
}
.sign_out{
    background-color:#3333ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.sign_out:hover{
    background-color:#0000cc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.profilePic{

}
.App-Elevated{
    font-size: 40px;
}